* {
  background-color: rgb(232, 235, 238);
}
.container {
  display: flex;
  /* border: 1px solid; */
  padding-left: 0px;
  /* margin-top: 0px; */
  margin: 0%;
  background-color: white;
}

.flipkartLogo {
  background-color: transparent;
}
.search_div {
  width: 550px;
  height: 40px;
  padding-left: 10px;
  margin-left: 10px;
  margin-top: 9px;
  background-color: rgb(225, 234, 234);
  border-radius: 10px;
  /* border: 1px solid; */
  display: flex;
}
.buttondiv {
  /* border: 1px solid; */
  width: 35px;
  margin-top: 4px;
  height: 25px;
}
.btnsearch {
  border: none;
  /* margin-top: 5px; */
  /* margin-left: 10px; */
  /* height: 27px; */
  background-color: transparent;
}
.searchinput {
  height: 30px;
  width: 780px;
  margin-top: 2px;
  /* margin: bottom 15px; */
  background-color: transparent;
  font-size: larger;
  border: none;
}
.navbar {
  margin-left: 10px;
  margin-top: 4px;
  /* border: 1px solid; */
  width: 150px;
  height: 50px;
  display: flex;
  background-color: transparent;
  border-radius: 10px;
}
.navbar > .userIcon {
  width: 30px;
  height: 30px;
  margin-top: 8px;
  background-color: transparent;
}
.navbar:hover {
  background-color: rgb(60, 60, 232);
  color: white;
  image-resolution: calc(9px);
  /* rotate: -3deg; */
}
.navbar:hover > .dropdownArrow {
  rotate: 180deg;
}
.Logindivspan {
  /* border: 1px solid; */
  height: 25px;
  width: 60px;
  margin-top: 12px;
  margin-left: 10px;
  font-size: 20px;
  /* font-weight: bold; */
  background-color: transparent;
}
.dropdownArrow {
  height: 20px;
  width: 20px;
  margin-top: 15px;
  background-color: transparent;
}
.cartdiv {
  /* border: 1px solid; */
  width: 80px;
  height: 45px;
  display: flex;
  /* margin-left: ; */
  background-color: transparent;
  cursor: pointer;
}
.shoppingCartIcon {
  /* border: 1px solid; */
  margin-top: 15px;
  height: 25px;
  width: 30px;
  background-color: transparent;
}
.itemCount {
  /* border: 1px solid; */
  margin-bottom: 5px;
  font-size: 20px;
  background-color: transparent;
}
.cartsivspan {
  /* border: 1px solid; */
  height: 27px;
  width: 35px;
  margin-top: 15px;
  background-color: transparent;
}
.categoryDiv {
  /* border: 1px solid; */
  display: flex;
  width: 170px;
  height: 40px;
  margin-top: 14px;
  background-color: transparent;
}
.storeIcon {
  height: 28px;
  width: 35px;
  background-color: transparent;
}
.storedivspan {
  /* border: 1px solid; */
  height: 25px;
  width: 150px;
  margin-top: 4px;
  background-color: transparent;
}
.dropDownImg {
  /* border: 1px solid; */
  /* margin-left: 15px; */
  background-color: transparent;
}
.loginspan {
  background-color: transparent;
}
.storespan {
  background-color: transparent;
}
.maindiv2 {
  /* border: 1px solid; */
  background-color: white;
  display: flex;
  height: 160px;
  width: 96em;
  margin-top: 5px;
}
.groceryfig {
  /* border: 1px solid; */
  background-color: transparent;
 margin-right: 10px;
}
.groceryimg {
  background-color: transparent;
}
.groceryfig > figcaption {
  /* border: 1px solid; */
  width: 43px;
  margin-left: 2px;
  background-color: transparent;
}
.mobilefig {
  background-color: transparent;
  padding-right: 10px;
}
.mobileimg {
  background-color: transparent;
}
.mobilefig > figcaption {
  margin-left: 10px;
  background-color: transparent;
}
.factionfig {
  background-color: transparent;
  margin-left: 5px;
}
.factionarrrowimgdiv {
  display: flex;
  background-color: transparent;
}
.factionimg {
  background-color: transparent;
}
.factionarrrowimgdiv > figcaption {
  background-color: transparent;
}
.arrowimgfaction {
  /* border: 1px solid; */
  margin-left: 3px;
  margin-top: 5px;
  background-color: transparent;
}
.electronicsarrowimgdiv {
  display: flex;
  background-color: transparent;
}
.electronicsfig {
  background-color: transparent;
  margin-left: 10px;
}
.electronicsimg {
  background-color: transparent;
}
.arrowimgelectronics {
  margin-left: 3px;
  margin-top: 5px;
  background-color: transparent;
}
.electronicsarrowimgdiv > figcaption {
  background-color: transparent;
}
.homeappliancesarrowimgdiv {
  display: flex;
  background-color: transparent;
}
.homeappliancesfig {
  background-color: transparent;

.arrowimghomefurniture {
  background-color: transparent;
}
.arrowimghomefurniture > figcaption {
  background-color: transparent;
}
.arrowimghomefurniture {
  margin-left: 3px;
  margin-top: 5px;
  background-color: transparent;
}
.appliancescaption {
  margin-left: 5px;
}
.travelcaption {
  /* border: 1px solid; */
  width: 53px;
  margin-left: 10px;
  margin-left: 20px;
}
.beautytoysarrowimgdiv {
  display: flex;
}
.arrowimgbeautytoys {
  margin-left: 3px;
  margin-top: 5px;
}
.twoweelerratingdiv {
  display: flex;
}
/* .sliderdiv { */
/* border: 1px solid; */
/* } */
/* .silde1 {
  height: 180px;
  width: 1510px;
  position: relative;
  left: 10x;
} */

/* slider container css
      */

#parent-container {
  border: 1px solid black;
  position: relative;
  padding: 100px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;
}
.carousel-container {
  width: 600px;
  height: 400px;
  position: relative;
  margin: 0 auto;
}

.navigation-buttons .previous {
  position: absolute;
  z-index: 10;
  font-size: 25px;
  top: 30%;
  left: 0px;
  font-weight: 700;
}

.navigation-buttons .next {
  right: -15px;
  position: absolute;
  font-size: 25px;
  z-index: 10;
  top: 30%;
}

.navigation-buttons .nav-btn {
  background: white;
  cursor: pointer;
  border-block-start-style: 50%;
  width: 35px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.navigation .nav-btn:hover {
  background: white;
}

.slider-carousel {
  margin-top: 20px;
  transition: all 2s ease;
  position: relative;
  bottom: 20px;
}
.slider-carousel img {
  width: 100%;
  transition: all 2s ease;
  border: none;
  position: relative;
  bottom: 100px;
  height: 170px;
}

.images {
  position: absolute;
  display: none;
}
#slider-img {
  position: relative;
  width: 1494px;
  height: 220px;
  right: 100px;
}

.main {
  display: block;
}
