body {
  background-color: bisque;
  background-image: url(/images/download.jpg);
  background-repeat: no-repeat;
  /* background-position: right top; */
  background-position: center center;
  /* background-attachment: scroll; */
  background-attachment: fixed;
  background-size: cover;

  border: 5px solid black;
  padding: 100px;
  background-origin: border-box;
}
