h2 {
  border-style: dotted;
  border-style: solid;
  border-style: inset;
}

h3 {
  border-style: dashed;
  border-style: groove;
  border-style: outset;
}

p {
  border-style: double;
  border-style: ridge;
  border-style: dotted solid double dashed;
  border-style: dotted solid dashed;
  border-style: dotted solid;
  border-style: dotted;
}


