#img1 {
  float: left;
  margin-left: 10px;
}

#img2 {
  float: right;
  margin-right: 10px;
}
h3 {
  background-color: aqua;
}

p {
  clear: both;
  background-color: burlywood;
  overflow: scroll;
}
